.container {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    padding: 20px;  
}

.demo {
    display: flex;
    padding: 20px;
    background-color: aqua;
    gap: 15px;
}
.content {
    align-items: center;
    justify-content: center;
    display: flex;
    border: 5px solid red;
    height: 50px;
    width: 50px;
    transition: background-color 0,6s, transform 0,6s, border 0,6s;
    border-radius: 5px;
    font-weight: bold;
    color:white;

}
.Frank {
   background-color: brown;
}


.fizz:hover {
  background-color: beige;
  transform: rotate(20deg) scale(1.1);
}


.bazz:hover {
  background-color: darkblue;
  transform: rotate(5deg) scale(1.1);
}



.fizzbazz:hover {
  background-color: yellow;
  color: black;
  transform: rotate(10deg) scale(1.1);
}

.controls {
  background-color: rgb(241, 175, 163);
  padding: 15px;
  border-radius: 5px;
  display: flex;
  gap: 15px;
}
.input-group label {
font-size: 11px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.input-group input{
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.input-group input:focus {
  outline: none;
  border-color: greenyellow;
  
}

#Generate-button {
  background-color: rgb(136, 231, 231);
  transition: background-color 0.5s;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.5s, transform 0.3s;
}
#Generate-button:hover {
  background-color: cadetblue;
  font-weight: bold;
}
.Generate-button:active {
 transition: scale(0.7s);

}