.container {
    font-family: Arial, Helvetica, sans-serif;
  background-color: blueviolet;
  padding: 20px;
}

.demo {
  display: flex;
  padding: 20px;
  background-color: aqua;
  gap: 15px;
}

.content {
  align-items: center;
  justify-content: center;
  display: flex;
  border: 5px solid red;
  height: 50px;
  width: 50px;
  transition: background-color 0.6s, transform 0.6s, border 0.6s;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}



.fizz:hover {
  background-color: beige;
  transform: rotate(20deg) scale(1.1);
}



.bazz:hover {
  background-color: darkblue;
  transform: rotate(5deg) scale(1.1);
}



.fizzbazz:hover {
  background-color: yellow;
  color: black;
  transform: rotate(10deg) scale(1.1);
}